@charset "utf-8";

/*Import Styles*/
@import url(design.css);

article{
    font-size: 2.8em;
}

section.col-1-2{
    margin-top: 1%;
}

/*Adds space between the list items*/
div li{
    padding-bottom: 15px;
}