@charset "utf-8";

/*Imported Style*/
@import url(design.css);

p{
    font-size: 2em;
    padding-left: 20px;
}

article a{
    color: rgb(189, 50, 0);
}

article a:active, article a:hover{
    background-color: rgb(90, 90, 90);
    border-radius: 8px;   
}