@charset "utf-8";

/*

Author: Beckham Le
Date: 11/3/19

*/
@font-face{
    font-family: Title;
    src: url(CARIC.ttf) format('truetype'),
    url(CARIC.woff) format('woff'),
    url(CARIC.woff2) format('woff2');
}

html{
    background-color: gray;
}

body{
    margin: 0px auto;
    max-width: 1200px;
    box-shadow: 10px 10px 200px rgb(51,51,51),
                -10px 10px 200px rgb(51,51,51);
    background: black;
    height: 750px;
}

body::after {
    content: "";
    display: table;
    clear: both;
}

h1{
    margin: 0px;
    font-family: Title;
    color: orangered;
    font-size: 7.5em;
    text-align: center;
    padding-top: 30px;
}

nav ul{
    background-color: white;
    float: left;
}

nav li{
    color: black;
    display: block;
    float: left;
    text-align: center;
}

h2{
    background: white;
}